.vscode/
build/
*__pycache__
models.egg-info
outputs/
shelved_cache/
.env
google-cloud-sdk/
full_data
results
data/
mini_data/
alpaca_eval/
dataset/*.jsonl
.lmwrapper_cache/
tmp.md
analysis/acc_over_time.sh
analysis/notetaker.sh
*/package.json
*/package-lock.json
generated_code/
.DS_Store
.joblib_cache/