tqdm
numpy
torch 
torchvision 
torchaudio
transformers
pandas
lmwrapper>=0.12.0.0
openai
cachetools
python-dotenv
shelved-cache
sentence-transformers
seaborn
matplotlib
schema
names
pandas
fastapi
sentencepiece
