# core
transformers==4.35.2
datasets
sentencepiece
# pytorch-gpu==1.12.1
# pytorch-gpu
# cudatoolkit=11.5
seaborn
matplotlib
click
openai
ipykernel
shelved-cache
python-dotenv
accelerate
google-cloud-bigquery
db-dtypes
alpaca-eval
nltk

# entailment pipeline
pysbd==0.3.4

# qlora
scipy # bitsandbytes seems to need this or throws an error(?)
bitsandbytes
peft
trl